
:root {
--color-primary-0: #363377; /* Main Primary color */
--color-primary-1: #827FB2;
--color-primary-2: #585594;
--color-primary-3: #1D1959;
--color-primary-4: #0B083B;
--color-primary-5: #d2cfff;

--color-complement-0: #AA8F39;	/* Main Complement color */
--color-complement-1: #FFEBAA;
--color-complement-2: #D4BC6A;
--color-complement-3: #806715;
--color-complement-4: #554100;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 200px 1fr;
    height: 100vh;
}
.sidebar {
    background-color: var(--color-primary-0);
    grid-column: 1;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(1fr, auto);
	align-items: center;
	padding-left: 10px;
}
.sidebar a {
    color: var(--color-complement-1);
    text-decoration: none;
    font-family: Roboto, sans-serif;
	font-weight: bolder;
	font-size: larger;
	padding: 10px;
}
.header {
    background-color: var(--color-complement-1);
	display: grid;
	grid-column: 2;
	grid-row: 1;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	align-items: center;
	justify-items: center;

}
.header_btns {
	grid-column-start: 2;
	grid-column-end: 4;

}
.header_btns > button {
	border-radius: 3px;
	padding: 10px 30px;
	margin: 0px 15px;
	background-color: var(--color-primary-0);
	color: var(--color-complement-1);
}
.main-content {
    grid-column-start: 2;
    grid-row: 2;
    background-color: var(--color-primary-5);
	display: grid;
	grid-template-columns: 380px 380px 290px;
	grid-template-rows: 50px 290px 290px 290px;
	gap: 10px;
	padding-left: 10px;
	padding-bottom: 30px;
}
.card {
	grid-column: auto;
	border-left: 8px solid var(--color-complement-4);
	border-radius: 8px;
	background-color: var(--color-complement-1);
	padding: 15px;
	margin: 10px;

}
.right_sidebar {
	grid-column: 3;
	grid-row-start: 2;
	grid-row-end: 5;
	border-radius: 8px;
	padding: 15px;
	display: grid;
	grid-template-columns: 290px;
	grid-template-rows: 9fr 1fr 6fr;
	gap: 15px;
	
}
.wide
{
	grid-row: 1;
	grid-column-start: 1;
	grid-column-end: 2;
	padding: 0px 15px;
}
.announcements
{
	grid-row: 1;
	grid-column: 3;
	padding: 0px 15px;
}
.announcements-box
{
	grid-row: 1;
	padding: 15px;
	background-color: var(--color-complement-1);
	border-radius: 8px;
}

.trending
{
	grid-row: 3;
	background-color: var(--color-complement-1);
	border-radius: 8px;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 10px;
	padding: 5px;
}
.trending p {
	padding: 10px;
	margin: 0px;
}
